.circle {
    width: 240px;
    height: 240px;
    position: relative;
    border: 12px solid #000;
    border-radius: 50%;
    background-size: 240px 240px;
    background-repeat: no-repeat;
}

.face {
    width: 100%;
    height: 100%;
}

.face:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: #000;
    border-radius: 6px;
    content: "";
    display: block;
}


.hour {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 -4px -25%;
    padding: 4px 0 4px 25%;
    background: #000;
    transform-origin: 100% 50%;
}

.minute {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -3px 0;
    padding: 40% 3px 0;
    background: #000;
    transform-origin: 50% 100%;
}

.second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    background: #D40000;
    transform-origin: 50% 100%;
}

.clock-text{
    width: 240px;
    text-align: center;
    margin: 10px 0;
}

.troll{
    background-image: url('./../assets/imgs/Troll.jpg');
}

.chicago{
    background-image: url('./../assets/imgs/Chicago.jpg');
}

.hong_kong{
    background-image: url('./../assets/imgs/Hong_Kong.jpg');
}

.addis_ababa{
    background-image: url('./../assets/imgs/Addis_Ababa.jpg');
}

.canary{
    background-image: url('./../assets/imgs/Canary.jpg');
}

.east{
    background-image: url('./../assets/imgs/East.jpg');
}

.cet{
    background-image: url('./../assets/imgs/CET.jpg');
}

.london{
    background-image: url('./../assets/imgs/London.jpg');
}

.japan{
    background-image: url('./../assets/imgs/Japan.jpg');
}
