*:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #333;
  color: #FFF;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

